<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nervousfish.nervousfish">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".service_locator.NervousFish"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/app_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".service_locator.EntryActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChangeContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VisualVerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WaitActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RhythmVerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BluetoothConnectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateProfileActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activities.NFCExchangeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        <activity android:name=".activities.SelectVerificationMethodActivity" />
        <activity
            android:name=".activities.QRExchangeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.KeyManagementActivity" />
        <service android:name=".modules.pairing.AndroidBluetoothService" />
    </application>
</manifest>