<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="SuppressWarningsFilter" />
    <module name="TreeWalker">
        <module name="SuppressWarningsHolder" />
        <!-- Checks for annotations. -->
        <!-- See http://checkstyle.sourceforge.net/config_annotation1.html -->
        <module name="AnnotationLocation" />
        <module name="AnnotationUseStyle" />
        <module name="MissingDeprecated" />
        <module name="MissingOverride" />
        <module name="PackageAnnotation" />

        <!-- Checks for blocks. You know, those {}'s         -->
        <!-- See http://checkstyle.sourceforge.net/config_blocks.html -->
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock" />
        <module name="EmptyCatchBlock" />
        <module name="NeedBraces" />

        <!-- Checks for class design                         -->
        <!-- See http://checkstyle.sourceforge.net/config_design.html -->
        <module name="DesignForExtension">
            <property name="ignoredAnnotations" value="com.nervousfish.nervousfish.annotations.DesignedForExtension"/>
        </module>
        <module name="FinalClass" />
        <module name="HideUtilityClassConstructor" />
        <module name="InnerTypeLast" />
        <module name="InterfaceIsType" />
        <module name="MutableException" />
        <module name="OneTopLevelClass" />
        <module name="ThrowsCount" />
        <module name="VisibilityModifier" />

        <!-- Checks for common coding problems               -->
        <!-- See http://checkstyle.sourceforge.net/config_coding.html -->
        <module name="ArrayTrailingComma" />
        <!-- We think that for experienced developers inline conditionals increase readability and decrease the amount of code -->
        <module name="AvoidInlineConditionals">
            <property name="severity" value="ignore" />
        </module>
        <module name="CovariantEquals" />
        <module name="DeclarationOrder" />
        <module name="DefaultComesLast" />
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode" />
        <module name="ExplicitInitialization">
            <property name="severity" value="ignore" />
        </module>
        <module name="FallThrough" />
        <module name="FinalLocalVariable" />
        <!-- Disabled because the "this" rule already enforces that the variables will be assigned correctly -->
        <module name="HiddenField">
            <property name="severity" value="ignore" />
        </module>
        <module name="IllegalCatch" />
        <module name="IllegalInstantiation" />
        <module name="IllegalThrows" />
        <module name="IllegalToken">
            <property name="tokens" value="LITERAL_NATIVE" />
        </module>
        <module name="IllegalTokenText">
            <property name="tokens" value="STRING_LITERAL" />
            <property name="format" value="a href" />
        </module>
        <module name="InnerAssignment" />
        <module name="MagicNumber" />
        <module name="MissingCtor">
            <!-- Conflicts with PMD. For experienced developers who know about hidden constructors PMD's way is more readable -->
            <property name="severity" value="ignore" />
        </module>
        <module name="MissingSwitchDefault" />
        <module name="ModifiedControlVariable" />
        <module name="MultipleStringLiterals">
            <!-- Ignore empty strings, ", " and line breaks -->
            <property name="ignoreStringsRegexp" value='^(("\[\]")|("\\n")|("")|(", "))$'/>
        </module>
        <module name="MultipleVariableDeclarations" />
        <module name="NestedForDepth" />
        <module name="NestedIfDepth" />
        <module name="NestedTryDepth" />
        <module name="NoClone" />
        <module name="NoFinalizer" />
        <module name="OneStatementPerLine" />
        <module name="OverloadMethodsDeclarationOrder" />
        <module name="PackageDeclaration" />
        <module name="ParameterAssignment" />
        <module name="RequireThis" />
        <module name="ReturnCount">
            <!-- 5 return statements are still comprehendable -->
            <property name="max" value="5" />
        </module>
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />
        <module name="UnnecessaryParentheses" />
        <module name="VariableDeclarationUsageDistance" />

        <!-- Checks for imports                              -->
        <!-- See http://checkstyle.sourceforge.net/config_import.html -->
        <module name="AvoidStarImport" />
        <!-- We suppress this warning because the Java creators themselves disagree on this one, for example in the newest JUnit 5 -->
        <module name="AvoidStaticImport">
            <property name="severity" value="ignore" />
        </module>
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />

        <!-- Checks for Javadoc comments.                     -->
        <!-- See http://checkstyle.sourceforge.net/config_javadoc.html -->
        <module name="JavadocMethod">
            <property name="scope" value="package" />
            <property name="allowMissingPropertyJavadoc" value="true" />
            <property name="allowMissingThrowsTags" value="true" />
            <property name="allowThrowsTagsForSubclasses" value="true" />
            <property name="allowUndeclaredRTE" value="true" />
        </module>
        <module name="JavadocType">
            <property name="scope" value="package" />
        </module>
        <!-- We ignore this warning, because variable should be self-explanatory, thus eliminating the need for Javadoc -->
        <module name="JavadocVariable">
            <property name="severity" value="ignore" />
        </module>
        <module name="JavadocStyle">
            <property name="checkFirstSentence" value="false" />
        </module>

        <!-- Checks for Metrics. -->
        <!-- See http://checkstyle.sourceforge.net/config_metrics.html -->
        <module name="BooleanExpressionComplexity" />
        <module name="ClassDataAbstractionCoupling" />
        <module name="ClassFanOutComplexity" />
        <module name="CyclomaticComplexity" />
        <module name="JavaNCSS" />
        <module name="NPathComplexity" />


        <!-- Miscellaneous other checks.                   -->
        <!-- See http://checkstyle.sourceforge.net/config_misc.html -->
        <module name="ArrayTypeStyle" />
        <module name="AvoidEscapedUnicodeCharacters" />
        <module name="CommentsIndentation" />
        <!-- Discouraged by CheckStyle itself because it can be replaced by other rules normally -->
        <module name="DescendantToken">
            <property name="severity" value="ignore" />
        </module>
        <module name="FileContentsHolder" />
        <module name="FinalParameters" />
        <module name="Indentation" />
        <module name="OuterTypeFilename" />
        <!-- Depends on the project if you want this. It generates a lot of warnings while it doesn't really improve the readability of the code -->
        <module name="TrailingComment">
            <property name="severity" value="ignore"/>
        </module>
        <module name="UncommentedMain" />
        <module name="UpperEll" />

        <!-- Modifier Checks                                    -->
        <!-- See http://checkstyle.sourceforge.net/config_modifiers.html -->
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />

        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sourceforge.net/config_naming.html -->
        <module name="AbbreviationAsWordInName" />
        <module name="AbstractClassName">
            <property name="format" value="^A[A-Z].+$" />
        </module>
        <module name="CatchParameterName">
            <property name="format" value="^[a-z][a-zA-Z0-9]+$" />
        </module>
        <module name="ClassTypeParameterName" />
        <module name="ConstantName" />
        <module name="InterfaceTypeParameterName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="MethodTypeParameterName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />

        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sourceforge.net/config_naming.html -->
        <module name="Regexp" />

        <!-- Checks for Size Violations.                    -->
        <!-- See http://checkstyle.sourceforge.net/config_sizes.html -->
        <module name="AnonInnerLength">
            <property name="max" value="20" />
        </module>
        <module name="ExecutableStatementCount" />
        <!-- On a modern screen there fit a lot more than 80 characters; 150 is still quite readable -->
        <module name="LineLength">
            <property name="max" value="150" />
        </module>
        <module name="MethodCount" />
        <module name="MethodLength" />
        <module name="OuterTypeNumber" />
        <module name="ParameterNumber" />


        <!-- Checks for whitespace                               -->
        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html -->
        <module name="EmptyForInitializerPad" />
        <module name="EmptyForIteratorPad" />
        <!-- Ignored because it costs a lot of time while it doesn't improve readability -->
        <module name="EmptyLineSeparator">
            <property name="tokens" value="PACKAGE_DEF, IMPORT, CLASS_DEF, INTERFACE_DEF, ENUM_DEF, STATIC_INIT, INSTANCE_INIT, METHOD_DEF, CTOR_DEF" />
        </module>
        <module name="GenericWhitespace" />
        <module name="MethodParamPad" />
        <module name="NoLineWrap" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="OperatorWrap" />
        <module name="ParenPad" />
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapDot" />
            <property name="tokens" value="DOT" />
            <property name="option" value="nl" />
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapComma" />
            <property name="tokens" value="COMMA" />
            <property name="option" value="EOL" />
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapMethodRef" />
            <property name="tokens" value="METHOD_REF" />
            <property name="option" value="nl" />
        </module>
        <module name="SingleSpaceSeparator" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />
    </module>
</module>
